.name{
    padding: 2em;
    color: #37E2D5;
    font-family: 'Roboto Mono', monospace;
}

.nameBlock{
    margin: auto;
    height: 5em;
    width: 23em;
    background-color: rgba(255, 255, 255, 0.13);
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
